/* ------ CENTRO FELIPE ------ */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");


.centroFelipe {
        height: 100vh; //ALTEZZA PER PERMETTERE SCROLL
        overflow-y: auto; //Overflow Y PER PERMETTERE SCROLL
        background-image: linear-gradient(to bottom, #3c3b3b, #343434, #2d2d2d, #262626, #1f1f1f, #1c1c1c, #191919, #161616, #161616, #151515, #151515, #141414);

        padding-bottom: 130px;

    .bannerimg{
        position: relative;
        height: 370px; 
        object-fit: cover;
        object-position: center 30%;
        filter: brightness(50%);
        margin: 0;
        padding: 0;
        border-radius: 0;
     
    }



    .custom-user-logo{
        width: 30px;
    }

    .custom-mt{
        margin-top: 80px; 
        padding-top: 10px; 
    }

    

   .brandimg{
        width: 45px;
        height: 45px;
   }

   .list-group-item {
    border: none;
    }



    .text-lightgray{
        color: #c0c0c0;
    }


    /* --- MODIFICHE LEO ---*/

    .fixed-width{
      width: 210px!important;
  }

    .truncate-text {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 100%; /* Assicura che il testo non superi la larghezza massima della colonna */
      }

    .ascolti , .durata{
        color: #c0c0c0;
        font-size: 0.9em;
    }

    @media (max-width: 1278px) {
        /* Regole CSS da applicare quando la larghezza è 1278px o inferiore */
        .destraInt{
          display: none;
        }
      
        /* Altre regole CSS specifiche per larghezza inferiore a 1278px */
      }
      
      @media (min-width: 1346px) {
        /* Regole CSS da applicare quando la larghezza è 1278px o inferiore */
        .infoList {
            width: 66.66%!important;
        }
      
        /* Altre regole CSS specifiche per larghezza inferiore a 1278px */
      }

      @media (max-width: 880px) {
        /* Regole CSS da applicare quando la larghezza è 1278px o inferiore */
        .colAscolti{
          display: none!important;
        }
      
        /* Altre regole CSS specifiche per larghezza inferiore a 1278px */
      }

      .freccette {
        width: 2rem;
        height: 2rem;
        font-size: 1rem;
        background-color: #131313;
        text-align: center;
        border-radius: 50%;
        padding: 0.4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $customGrey;
        &:hover {
            cursor: pointer;
        }
    }

    ul {
        padding: 0.2rem 0.5rem 0.3rem;
        background-color: #242323;
        list-style-type: none;
        border-radius: 25px;
        .fotoProfilo {
            img {
                width: 1.5rem;
            }
        }
        .nomeProfilo {
            margin-left: 10px;
        }
    }
}