//Album Page

$customGreen: #1ED760;
$customGreenLight: lighten(#1ED760, 10%);
$playerBg: #181818;
$customGrey: #9B9B9B;
$customIconSize: 1.3rem;

.copertinaAlbumSmall {
  width: 200px;
  height: 200px;
  float: left;
}

.centroAnna {
  .rigaAlbum {
    color: $customGrey;
    font-size: 0.9rem;
  }
  .hrAlbum {
    color: $customGrey;
  }
  .bi {
    color: $customGrey;
    &:hover {
      cursor:pointer;
      color: $customGreen;
    }
    .bi-play-circle-fill {
      color: $customGreen
    }

  }
  .featuringTracks {
    font-size: 0.75rem;
    color: $customGrey;
  }
  .indice {
    &:hover{
      color: $customGreen;
      cursor: pointer;
    }
  }

}

