/* ------ CENTRO FELIPE ------ */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");


@mixin hoverTransition {
  transition: all 0.3s ease;
  &:hover {
      transform: scale(1.1);
  }
}

.centroFelipe {
  flex: 1;
  margin: 0 8px;

  border-radius: 5px 5px 7px 7px / 7px 7px 5px 5px;

  width: 62%!important;
  height: 88vh; //ALTEZZA PER PERMETTERE SCROLL
  overflow-y: auto; 
  padding-bottom: 100px;//ALTEZZA PER PERMETTERE SCROLL
        padding-bottom: 130px;

        background-image: linear-gradient(to bottom, #3c3b3b, #343434, #2d2d2d, #262626, #1f1f1f, #1c1c1c, #191919, #161616, #161616, #151515, #151515, #141414);

    .bannerimg{
        position: relative;
        height: 370px; 
        object-fit: cover;
        object-position: center 30%;
        filter: brightness(50%);
        margin: 0;
        padding: 0;
        border-radius: 0;
     
    }



    .custom-user-logo{
        width: 30px;
    }

    .custom-mt{
        margin-top: 80px; 
        padding-top: 10px; 
    }

    

   .brandimg{
        width: 75px;
        height: 75px;
   }

   .list-group-item {
    border: none;
    }



    .text-lightgray{
        color: #c0c0c0;
    }


    /* --- MODIFICHE LEO ---*/

    .truncate-text {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 100%; /* Assicura che il testo non superi la larghezza massima della colonna */
      }

    .ascolti , .durata{
        color: #c0c0c0;
        font-size: 0.9em;
    }

    @media (max-width: 1278px) {
        /* Regole CSS da applicare quando la larghezza è 1278px o inferiore */
        .destraInt{
          display: none;
        }
      
        /* Altre regole CSS specifiche per larghezza inferiore a 1278px */
      }
      
      @media (min-width: 1346px) {
        /* Regole CSS da applicare quando la larghezza è 1278px o inferiore */
        .infoList {
            width: 66.66%!important;
        }
      
        /* Altre regole CSS specifiche per larghezza inferiore a 1278px */
      }

      @media (max-width: 880px) {
        /* Regole CSS da applicare quando la larghezza è 1278px o inferiore */
        .colAscolti{
          display: none!important;
        }
      
        /* Altre regole CSS specifiche per larghezza inferiore a 1278px */
      }

      .freccette {
        width: 2rem;
        height: 2rem;
        font-size: 1rem;
        background-color: #131313;
        text-align: center;
        border-radius: 50%;
        padding: 0.4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $customGrey;
        &:hover {
            cursor: pointer;
        }
    }

    ul {
        padding: 0.2rem 0.5rem 0.3rem;
        background-color: #242323;
        list-style-type: none;
        border-radius: 25px;
        .fotoProfilo {
            img {
                width: 1.5rem;
            }
        }
        .nomeProfilo {
            margin-left: 10px;
        }
    }

    .piccoloFont {
      font-size: 0.8em;
      color: #c0c0c0;
    }

    .indice {
      color: #c0c0c0;
    }

    .cuore {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 1.3rem;
      height: 1.3rem;
      right: 0rem;
      bottom: 0.3rem;
      border: 1px solid black;
      border-radius: 50%;
      cursor: pointer;
      background-color: $customGreen;
      position: absolute;
     
      i {
          font-size: 0.8rem;
      }
  }


  .btnDisco{
    button{
      border: none;
      border-radius: 20px;
      margin-right: 5px;
      font-size: 0.8em;
      padding: 5px 10px;
    }

    button:nth-child(2){
      background-color: rgb(29, 29, 29);
      color: white;
    }

    button:nth-child(3){
      background-color: rgb(29, 29, 29);
      color: white;
    }
  }


  .longCard {

    .card {
        background-color: rgb(29, 29, 29);
        color: snow;

        img {
            padding: 10px;
            border-radius: 14px;
        }

        .card-body {

            p:nth-child(1) {
                font-weight: bold;
            }

            p:nth-child(2) {
                font-size: 0.8em;
                color: #9B9B9B;
            }

        }
        
    }
    
}

.playHover {
  width: 2.3rem;
  height: 2.3rem;
  right: 0.3rem;
  bottom: 0.3rem;
  padding-left: 0.1rem ;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  background-color: $customGreen;
  display: none;
  i {
      font-size: 1.5rem;
  }
}
.card:hover .playHover {
  cursor: pointer;
  display: block;
}
.playHover:hover {
  @include hoverTransition()
}
//Hover Long Card -album-
.playHoverLongCard {
  width: 2.3rem;
  height: 2.3rem;
  right: 0.8rem;
  bottom: 7rem;
  padding-left: 0.5rem;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  background-color: $customGreen;
  display: none;
  i {
      font-size: 1.5rem;
  }
}
.card:hover .playHoverLongCard {
  cursor: pointer;
  display: block;
}
.playHoverLongCard:hover {
  @include hoverTransition()
}
.card:hover {
  cursor: pointer;
  background-color: #282828;
}
}