$customGrey: #9B9B9B;

.leftBar {
    height: 90vh;
    background-image: linear-gradient(to bottom, #3c3b3b, #343434, #2d2d2d, #262626, #1f1f1f, #1c1c1c, #191919, #161616, #161616, #151515, #151515, #141414);
}

.innerLeft {
    background-color: black;
    height: 100vh;
}

.menu{
    background-image: linear-gradient(to bottom, #3c3b3b, #343434, #2d2d2d, #262626, #1f1f1f, #1c1c1c, #191919, #161616, #161616, #151515, #151515, #141414);
   
}

.riga {
    background-color: black;
}

.leftBar a,.menu a p,hr{
    color: $customGrey;

    
};
.commenti{
    height: 59vh; //ALTEZZA PER PERMETTERE SCROLL


}
.menu a:hover{
    color: white;
}

.commenti a p{
    font-size: 0.8rem;}

.firstUl li a {
    line-height: 0;
    font-size: 0.7rem;
}
.secondUl {
    margin-bottom: 0;
    li a {
        line-height: 1.2;
        font-size: 0.7em;
    }
    li > a > i {
        font-size: 1.3em;
    }
}

  .btnHeart {
        padding: 0.1rem 0.2rem;
        background-image: linear-gradient(to right bottom, #3b1ba9, #4028a9, #4633a8, #4c3da7, #5246a5, #5b56ac, #6566b1, #7075b6, #848fc3, #9ba8cf, #b6c1da, #d4dae5);  
          .bi-suit-heart-fill{
            color: #B2B2B2;
        }
    }
    .btnBookmark {
        padding: 0.1rem 0.2rem;
        background-image: linear-gradient(to right bottom, #004537, #004537, #004537, #004537, #004537, #0f5148, #205d59, #306969, #57848c, #81a0ad, #abbcca, #d4dae5);
          .bi-bookmark-fill{
            color: #149643;
        }
    }

.commenti hr{
    width: 90%;
    margin: 0 auto 1rem;

}

.SizeBtn{
    font-size: 1.3rem;
}

.commenti2 {
    background-image: linear-gradient(to bottom, #3c3b3b, #343434, #2d2d2d, #262626, #1f1f1f, #1c1c1c, #191919, #161616, #161616, #151515, #151515, #141414);
}