$customGrey: #9B9B9B;

.leftBar {
    width: 20%!important;
    background-color: rgb(25, 25, 25);
}

.innerLeft {
    background-color: black;
    height: 100vh;
}

.menu{
    background-color: rgb(25, 25, 25);
   
}

.riga {
    background-color: black;
}

.leftBar a,.menu a p,hr{
    color: $customGrey;

    
};
.commenti{
    height: 77vh; //ALTEZZA PER PERMETTERE SCROLL


}
.menu a:hover{
    color: white;
}

.commenti a p{
    font-size: 0.8rem;}

.firstUl li a {
    line-height: 0;
    font-size: 0.7rem;
}
.secondUl {
    margin-bottom: 0;
    li a {
        line-height: 1.2;
        font-size: 0.7em;
    }
    li > a > i {
        font-size: 1.3em;
    }
}

  .btnHeart {
        padding: 0.1rem 0.2rem;
        background-image: linear-gradient(to right bottom, #3b1ba9, #4028a9, #4633a8, #4c3da7, #5246a5, #5b56ac, #6566b1, #7075b6, #848fc3, #9ba8cf, #b6c1da, #d4dae5);  
          .bi-suit-heart-fill{
            color: #B2B2B2;
        }
    }
    .btnBookmark {
        padding: 0.1rem 0.2rem;
        background-image: linear-gradient(to right bottom, #004537, #004537, #004537, #004537, #004537, #0f5148, #205d59, #306969, #57848c, #81a0ad, #abbcca, #d4dae5);
          .bi-bookmark-fill{
            color: #149643;
        }
    }

.commenti hr{
    width: 90%;
    margin: 0 auto 1rem;

}

.SizeBtn{
    font-size: 1.3rem;
}

.commenti2 {
    background-color: rgb(25, 25, 25);
}


@media (max-width: 880px) {
    /* Regole CSS da applicare quando la larghezza è 1278px o inferiore */
    .leftBar{
        width: 64.55px!important;
        .scritta {
            display: none;
        }

        .bi-house-door-fill {
            margin: 0 auto;
        }
        .bi-search {
            margin: 0 auto;
        }
    }
  
    /* Altre regole CSS specifiche per larghezza inferiore a 1278px */
  }