.colonnaDestra {
    height: 88vh;
    width: 10%;
    background-image: linear-gradient(to bottom, #3c3b3b, #343434, #2d2d2d, #262626, #1f1f1f, #1c1c1c, #191919, #161616, #161616, #151515, #151515, #141414);
    color: #636363;
  
    .attività{
        color:#E6E6E6;  
        i{
        color: #636363 !important;
        margin-left:0rem;
        &:hover{
            color:white !important;
        }
    }

    }

}

.amici {    
    font-size: 0.6rem;
    font-weight: 600;  
    
    .amico{
        margin-top:1rem;
    }

    ul {
        list-style: none;
        padding-left: 0;
        margin-bottom: 0.5rem;
        text-align: left;
        li{
            margin-bottom:0.2rem;
        }
    }

    a {
        text-decoration: none;
        color: #636363 !important;
        &:hover{
            color:white !important;
        }
    }
    .nomeAmico{
        font-weight: bold;
        font-size: 0.7rem;

    }
}

@media (max-width: 1151px) {
    /* Regole CSS da applicare quando la larghezza è 1278px o inferiore */
    .colonnaDestra{
        width: 173.16px!important;
        
    }
  
    /* Altre regole CSS specifiche per larghezza inferiore a 1278px */
  }