.colonnaDestra {
    height: 88vh;
    width: 210px!important;
    background-color: rgb(25, 25, 25);
    color: #636363;
  
    .attività{
        color:#E6E6E6;  
        i{
        color: #636363 !important;
        margin-left:0rem;
        &:hover{
            color:white !important;
        }
    }

    }

}

.amici {    
    font-size: 0.6rem;
    font-weight: 600;  
    
    .amico{
        margin-top:1rem;
    }

    ul {
        list-style: none;
        padding-left: 0;
        margin-bottom: 0.5rem;
        text-align: left;
        li{
            margin-bottom:0.2rem;
        }
    }

    a {
        text-decoration: none;
        color: #636363 !important;
        &:hover{
            color:white !important;
        }
    }
    .nomeAmico{
        font-weight: bold;
        font-size: 0.7rem;

    }
}

@media (max-width: 1151px) {
    /* Regole CSS da applicare quando la larghezza è 1278px o inferiore */
    .colonnaDestra{
        
        
    }
  
    /* Altre regole CSS specifiche per larghezza inferiore a 1278px */
  }